In [ ]:
import numpy as np
import pandas as pd
import anndata as ad
from scipy.sparse import csr_matrix
print(ad.__version__)

# Initializing AnnData

In [2]:
counts = csr_matrix(np.random.poisson(1, size=(100, 2000)), dtype=np.float32)
adata = ad.AnnData(counts)
adata

AnnData object with n_obs × n_vars = 100 × 2000

In [3]:
adata.X

<100x2000 sparse matrix of type '<class 'numpy.float32'>'
	with 126543 stored elements in Compressed Sparse Row format>

In [4]:
adata.obs_names = [f"Cell_{i:d}" for i in range(adata.n_obs)]
adata.var_names = [f"Gene_{i:d}" for i in range(adata.n_vars)]
print(adata.obs_names[:10])

Index(['Cell_0', 'Cell_1', 'Cell_2', 'Cell_3', 'Cell_4', 'Cell_5', 'Cell_6',
       'Cell_7', 'Cell_8', 'Cell_9'],
      dtype='object')

# Subsetting Anndata

In [11]:
adata[["Cell_1", "Cell_10"], ["Gene_5", "Gene_1900"]]

View of AnnData object with n_obs × n_vars = 2 × 2

# Adding aligned metadata

     Observation/Variable Level

In [12]:
ct = np.random.choice(["B", "T", "Monocyte"], size=(adata.n_obs,))
adata.obs["cell_type"] = pd.Categorical(ct)  # Categoricals are preferred for efficiency
adata.obs

        cell_type
Cell_0          B
Cell_1   Monocyte
Cell_2          T
Cell_3          T
Cell_4          B
...           ...
Cell_95         B
Cell_96         T
Cell_97  Monocyte
Cell_98  Monocyte
Cell_99         T

[100 rows x 1 columns]

In [13]:
adata

AnnData object with n_obs × n_vars = 100 × 2000
    obs: 'cell_type'

# Subsetting using metadata

In [14]:
bdata = adata[adata.obs.cell_type == "B"]
bdata

View of AnnData object with n_obs × n_vars = 32 × 2000
    obs: 'cell_type'

# Observation/variable-level matrices

In [15]:
adata.obsm["X_umap"] = np.random.normal(0, 1, size=(adata.n_obs, 2))
adata.varm["gene_stuff"] = np.random.normal(0, 1, size=(adata.n_vars, 5))
adata.obsm

AxisArrays with keys: X_umap

In [16]:
adata

AnnData object with n_obs × n_vars = 100 × 2000
    obs: 'cell_type'
    obsm: 'X_umap'
    varm: 'gene_stuff'

# Unstructured metadata

In [17]:
adata.uns["random"] = [1, 2, 3]
adata.uns

OverloadedDict, wrapping:
	OrderedDict([('random', [1, 2, 3])])
With overloaded keys:
	['neighbors'].

# Layers

In [18]:
adata.layers["log_transformed"] = np.log1p(adata.X)
adata

AnnData object with n_obs × n_vars = 100 × 2000
    obs: 'cell_type'
    uns: 'random'
    obsm: 'X_umap'
    varm: 'gene_stuff'
    layers: 'log_transformed'

# Conversion to DataFrames

In [19]:
adata.to_df(layer="log_transformed")

,Gene_0,Gene_1,Gene_2,Gene_3,Gene_4,Gene_5,Gene_6,Gene_7,Gene_8,Gene_9,...,Gene_1990,Gene_1991,Gene_1992,Gene_1993,Gene_1994,Gene_1995,Gene_1996,Gene_1997,Gene_1998,Gene_1999
Cell_0,0.693147,1.386294,1.098612,1.098612,0.693147,0.000000,0.000000,0.693147,0.000000,0.000000,...,0.000000,1.098612,0.693147,0.000000,1.098612,0.000000,1.098612,0.693147,0.000000,0.000000
Cell_1,1.098612,0.693147,0.693147,0.693147,0.000000,0.693147,0.000000,0.000000,0.000000,1.098612,...,0.000000,0.693147,1.098612,0.693147,0.693147,0.693147,0.693147,0.000000,1.098612,0.693147
Cell_2,0.693147,1.098612,1.386294,0.693147,0.000000,0.693147,0.000000,0.000000,0.000000,0.693147,...,1.098612,0.000000,0.000000,0.693147,0.693147,0.000000,0.000000,1.098612,1.098612,1.098612
Cell_3,0.000000,0.693147,0.693147,0.693147,0.693147,0.000000,1.098612,0.693147,0.000000,0.000000,...,0.693147,1.609438,1.098612,0.000000,0.693147,1.098612,0.693147,1.098612,0.693147,0.693147
Cell_4,0.693147,0.693147,0.000000,1.098612,1.386294,1.386294,1.098612,1.386294,0.000000,1.609438,...,0.000000,0.693147,0.693147,1.098612,1.098612,0.000000,1.098612,1.098612,0.000000,1.098612
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Cell_95,0.000000,1.098612,1.098612,0.693147,0.693147,0.000000,0.693147,0.693147,0.000000,0.000000,...,0.693147,0.000000,0.693147,0.693147,1.098612,0.693147,0.693147,0.693147,0.000000,0.000000
Cell_96,0.000000,0.000000,0.693147,0.693147,0.000000,1.098612,1.098612,1.098612,1.098612,0.693147,...,1.098612,0.693147,0.000000,0.693147,0.693147,0.693147,0.693147,1.098612,0.000000,0.000000
Cell_97,0.000000,1.098612,0.000000,0.693147,1.098612,0.000000,0.000000,1.386294,1.098612,0.000000,...,0.693147,0.693147,0.000000,0.000000,0.693147,0.000000,0.000000,0.693147,0.000000,1.386294
Cell_98,0.693147,1.791759,1.098612,0.000000,0.000000,0.000000,1.098612,0.693147,1.098612,0.693147,...,0.000000,1.098612,0.000000,0.693147,1.386294,1.098612,1.098612,0.693147,1.098612,0.000000
Cell_99,0.693147,0.693147,0.693147,1.098612,0.000000,1.098612,1.386294,0.000000,0.000000,0.693147,...,0.000000,0.000000,0.693147,0.693147,0.000000,0.000000,0.000000,0.693147,0.693147,1.098612

# Writing the results to disk

In [20]:
adata.write('my_results.h5ad', compression="gzip")

In [ ]:
!h5ls 'my_results.h5ad'

# Wrapping up the introduction

Views and Copies

In [23]:
obs_meta = pd.DataFrame({
        'time_yr': np.random.choice([0, 2, 4, 8], adata.n_obs),
        'subject_id': np.random.choice(['subject 1', 'subject 2', 'subject 4', 'subject 8'], adata.n_obs),
        'instrument_type': np.random.choice(['type a', 'type b'], adata.n_obs),
        'site': np.random.choice(['site x', 'site y'], adata.n_obs),
    },
    index=adata.obs.index,    # these are the same IDs of observations as above!
)

In [24]:
adata = ad.AnnData(adata.X, obs=obs_meta, var=adata.var)

In [25]:
print(adata)

AnnData object with n_obs × n_vars = 100 × 2000
    obs: 'time_yr', 'subject_id', 'instrument_type', 'site'

In [26]:
adata

AnnData object with n_obs × n_vars = 100 × 2000
    obs: 'time_yr', 'subject_id', 'instrument_type', 'site'

In [27]:
adata[:5, ['Gene_1', 'Gene_3']]

View of AnnData object with n_obs × n_vars = 5 × 2
    obs: 'time_yr', 'subject_id', 'instrument_type', 'site'

In [28]:
adata_subset = adata[:5, ['Gene_1', 'Gene_3']].copy()

In [29]:
print(adata[:3, 'Gene_1'].X.toarray().tolist())
adata[:3, 'Gene_1'].X = [0, 0, 0]
print(adata[:3, 'Gene_1'].X.toarray().tolist())

[[3.0], [1.0], [2.0]]
[[0.0], [0.0], [0.0]]

In [30]:
adata_subset = adata[:3, ['Gene_1', 'Gene_2']]

In [31]:
adata_subset

View of AnnData object with n_obs × n_vars = 3 × 2
    obs: 'time_yr', 'subject_id', 'instrument_type', 'site'

In [32]:
adata_subset.obs['foo'] = range(3)

C:\Users\nusup\AppData\Local\Temp\ipykernel_13260\2955902014.py:1: ImplicitModificationWarning: Trying to modify attribute `.obs` of view, initializing view as actual.
  adata_subset.obs['foo'] = range(3)

In [33]:
adata_subset

AnnData object with n_obs × n_vars = 3 × 2
    obs: 'time_yr', 'subject_id', 'instrument_type', 'site', 'foo'

In [34]:
adata[adata.obs.time_yr.isin([2, 4])].obs.head()

         time_yr subject_id instrument_type    site
Cell_1         4  subject 1          type b  site x
Cell_4         4  subject 1          type b  site y
Cell_8         2  subject 8          type b  site x
Cell_10        2  subject 2          type b  site y
Cell_11        2  subject 8          type b  site y

# Partial reading of large data

In [35]:
adata = ad.read('my_results.h5ad', backed='r')

In [36]:
adata.isbacked

True

In [37]:
adata.filename

WindowsPath('my_results.h5ad')

In [38]:
adata.file.close()